<% content_for :title do %>
	Top | Creater'sGuild
<% end %>

<div id="main_contents" class="basic_padding container">
	<div id="logo_top_wrapper" class="container">
			<img id="logo" src="./MasterLogo.png" />
	</div><!--logo_wrapper-->
	<div class="container">
		<div class="row">
			<div id="req_form_wrapper" class="col-md-offset-2 col-md-6">
				<h3>リクエストを出す</h3>
				<% if @request.errors.present? %>
					<%= "入力内容に#{@request.errors.count}箇所の不備があります." %><br>
				<% end %>
				<%= form_for @request do |f| %>
					<%= f.label :title, 'リクエスト：' %>
					<span style="color:red;"><%= @request.errors[:title][0] if @request.errors[:title].present? %></span><br>
					<%= f.text_field :title %><br>
					<%= f.label :discription, '要望：' %><br>
					<%= f.text_area :discription, :size => "40x5" %><br>
					<%= f.label :budget, '予算：' %><br>
					<%= f.text_field :budget %>円<br><br>
					<%= f.hidden_field :user_id, :value => 1 %>
					<%= image_tag @request.image.thumb.url if @request.image? %>
					<%= f.file_field :image %>
					<%= f.hidden_field :image_cache %>
					<%= f.submit '投稿する', :class => "submit_btn" %>
				<% end %>
			</div><!--req_form_wrapper-->
		</div><!--row-->
	</div><!--container-->

	<h3>リクエスト一覧</h3>
		<div class="row">
			<% @requests.each do |req| %>
				<div class="col-sm-6 col-md-4">
					<%= link_to req do %>
					<div class="thumbnail">
						<% if req.image? %>
						<%= image_tag req.image.thumb.url %>
						<% else %>
						<span class="glyphicon glyphicon-plus"></span>
						<% end %>
						<div class="caption">
						<h3><%= req.title %></h3>
						<p><%= req.discription %></p><br>
						<p><%= req.budget if req.budget.present? %>円</p>
						</div>
					</div>
					<% end %>
				</div>
			<% end if @requests.present? %>
		</div>
</div>
