<% content_for :title do %>
	コンセプト
<% end %>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.name %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<div id="main_contents">
		<div id="logo_wrapper" class="container">
			<img id="logo" src="./MasterLogo.png" />
		</div><!--logo_wrapper-->

		<div id="service_message" class="container">
			「欲しいけど売ってない」<br>
			「手作りプレゼントが　　<br>
			　　予想以上に喜ばれた！」<br>
			こんな経験、ありませんか？<br>
			<br>
			”欲しい”　と　”作りたい”<br>
			そんな二つの想いを簡単に<br>
			繋げられる世界にしたい！<br>
			"Creater'sGuild"では<br>
			そんな世界を目指しています。
		</div>

		<div id="concept_wrapper" class="container">
			<img id="concept_img" src="./concept.png" />
		</div><!--concept_wrapper-->

		<div id="recruit_message" class="container">
			<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-6">
				<div id="recruit_headline" class="button">
					仲間募集！
				</div>
				<div id="mes">
				「Creater'sGuild」では、一緒にサービスを作ってくれる仲間を<br>
				<span style="color:red; font-size:large;">先着１００名</span>で募集します。<br>
				やって頂く事はサービスを使って「こーした方がいい！」と<br>意見を
				出してくれるだけでいいです！<br>
				一緒に”欲しい”と”作りたい”を簡単に繋げられる世界を<br>作りませんか？
				</div>
			</div>
			<div class="col-md-2"></div>
			</div>
		</div>
		<div id="form_wrapper" class="container">
			<div class="row">
				<div id="logo" class="col-md-5">
					<%= image_tag("MasterLogo.png") %>
				</div>
				<div id="register_form" class="col-md-6">
					<%= form_for @user do |f| %>
						<%= f.label :name %>
						<%= f.text_field :name %>
						<%= f.label :email %>
						<%= f.email_field :email %>
						<%= f.label :password %>
						<%= f.password_field :password, autocomplete: "off" %>
						<%= f.label :password_confirmation, "Password(再入力)" %>
						<%= f.password_field :password_confirmation, autocomplete: "off" %>
						<br>
						<%= f.submit "ギルドに参加する" %>
					<% end %>
				</div>
			</div>
		</div><!--form-->
</div>
